.coloredSquare {
    height: 30px;
    width: 30px;
}

.green {
    background-color: #00c800;
}
.lime {
    background-color: #00ff00;
}
.yellow {
    background-color: #ffff00;
}
.orange {
    background-color: #ffa500;
}
.red {
    background-color: #ff0000;
}