@import "./../node_modules/bootstrap/scss/bootstrap";
@import "./assets/project-colors.scss";
@import './../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';


* {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

hr {
    background-color: $dark_teal;
    height: 3px;
    border: none;
    margin: 10px 40px
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: $dark_teal !important
}